<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
 <%= link_to root_path, class:"text-decoration-none" do  %>
  <div class="container-fluid">
  <%= image_tag("steering-wheel.png", size: "40x40") %>
  <span id="title"> DRIVEN </span>
  <% end %>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%#if user_signed_in? %>
          <li class="nav-item">
            <%#= link_to "View drivers", offers_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% #else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class:"btn btn-outline-primary" %>
          </li>
        <% #end %>
      </ul>
    </div>
  </div>
</div>
