
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
  <%= simple_form_for [@user, @driver] do |f| %>
    <%= f.input :name %>
    <%= f.input :license_type %>
    <%= f.input :years_driving %>
    <%= f.input :transmission %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%= f.input :photo %>
    <%= f.submit "Submit as a driver", class: "btn btn-primary btn-lg btn-block" %>
  <% end %>
</div>
  </div>
    </div>
